* {
    outline: 1px solid red;
}

.outer-container {
    display: flex;
    height: 800px;
    width: 800px;
    justify-content: center;
    flex-wrap: wrap;
    background: lightgrey
}


.keypad {
    background-color: white
}

.display p {
    font-size: 44px;
    height: 48px
}

.display-container {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
}

.display {
    height: 50%;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.entries {
    /* height: 4%; */
    height: 50%;
    background: lightblue
}

.keypad-row {
    height: 65%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.equals {
    width: 45%;
    height: 10%
}

.clear {
    width: 45%;
    height: 10%
}

.keypad {
    height: 24%;
    width: 24%;
    font-size: 30px;
    
}


